.schools-list-download {
  display: inline-flex;
  align-items: center;
  color: black;
  flex-shrink: 0;
  gap: 0.5rem;
  white-space: nowrap;
  border-color: #e9ecef;
}

/* Contenedor principal */
.table-container-wrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background: #fff;
}

/* Contenedor de la tabla con scroll */
.table-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

/* Estilos de la tabla */
.sticky-table {
  width: 100%;
  min-width: max-content;
  border-collapse: separate;
  border-spacing: 0;
}

/* Encabezado sticky */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #f8f9fa;
}

.sticky-header th {
  position: sticky;
  top: 0;
  padding: 12px 15px;
  background-color: inherit;
  border-bottom: 1px solid #dee2e6;
  color: black;
  font-weight: 600;
  /* white-space: nowrap; */
}

/* Celdas del cuerpo */
.sticky-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #e9ecef;
  color: #343a40;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Efecto hover para filas */
.sticky-table tbody tr:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

/* Asegurar que las columnas mantengan su ancho */
.sticky-table {
  table-layout: auto;
}

/* .table-results-summary { Esto es la cantidad de registros, etc que tenia la tabla, pero como se repetia con lo de paginado, lo comente
  padding: 0.75rem 1rem;
  border-top: 1px solid #e9ecef;
  background-color: #f8f9fa;
  color: #6c757d;
  font-size: 0.875rem;
} */

.conjunto-botones {
  display: flex;
  gap: 8px;
}

@media (max-width: 576px) {
  .listado-header {
    align-items: flex-start;
    flex-direction: column;
  }

  .schools-list-download {
    width: 100%;
    justify-content: center;
  }

  .conjunto-botones {
    width: 100%;
    flex-direction: column;
  }
}
